<button type="button" class="btn btn-primary" routerLink="/locations">Retour</button><br><br>
<table>
  <thead>
  <tr>
    <th>Nom du jeu</th>
    <th>Statut</th>
    <th>Conversation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let conversation of conversations" [ngClass]="{'gris': conversation.idClient == userId || conversation.idLoueur == userId}">
    <td>{{conversation.nomJeu}}</td>
    <td *ngIf="conversation.idClient == userId ">Client</td>
    <td *ngIf="conversation.idLoueur == userId ">Loueur</td>
    <td><button  class="btn btn-primary"  routerLink="/DiscussionComponent/{{conversation.idClient}}">Accéder</button></td>
  </tr>
  </tbody>
</table>
