<button type="button" class="btn btn-primary" routerLink="/locations">Retour</button>
<table>
  <thead>
  <tr>
    <th>Nom du jeu</th>
    <th>Accéder au chat</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let conversation of conversations" [ngClass]="{'gris': conversation.idClient == userId || conversation.idLoueur == userId}">
    <td>{{conversation.nomJeu}}</td>
    <td><button *ngIf="conversation.idClient != userId" routerLink="/chat/{{conversation.idClient}}/{{conversation.id}}">Accéder au chat</button></td>
    <td><button *ngIf="conversation.idLoueur != userId" routerLink="/chat/{{conversation.idLoueur}}/{{conversation.id}}">Accéder au chat</button></td>
  </tr>
  </tbody>
</table>
