<button type="button" class="btn btn-primary" routerLink="/locations">Retour</button>
<div class="container">
        <div class="card-footer">
          <form (ngSubmit)="sendMessage()">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="message" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="sendMessage()" >Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>

