<!--<button type="button" class="btn btn-primary" routerLink="/locations">Retour</button><br><br>-->
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Nom du jeu</th>-->
<!--    <th>Statut</th>-->
<!--    <th>Ids_conversation</th>-->
<!--    <th>Conversation</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let conversation of conversations">-->
<!--    <td>{{conversation.nomJeu}}</td>-->
<!--    <td>{{conversation.nomJeu}}</td>-->
<!--    <td>{{conversation.nomJeu}}</td>-->
<!--    <td><button  class="btn btn-primary"  routerLink="/discussion/{{conversation.idClient}}/{{conversation.idJeu}}/{{conversation.idLoueur}}">Accéder</button></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
