<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LocaJeux</title>
</head>
<body>
<nav>
  <button onclick="window.location='/addLocation'">Ajouter une location</button>
  <button onclick="window.location='/allMyLocations'">Mes annonces</button>
  <button onclick="window.location='/locationsAll'">Mes locations</button>
  <button onclick="window.location='/liste-chats/'">Boîte de reception</button>
  <button class="logout" onclick="window.location='/login/'">Déconnexion</button>
</nav>

<div>
  <br><br>
  <div class="location-grid">
    <div *ngFor="let location of locations | async " class="location-card">
      <img [src]="location.photo">
      <div class="details">
        <h3>{{location.nom}}</h3>
        <h5>{{location.description}}</h5>
        <h5>{{location.prix}}  €/jour</h5>
        <h5 *ngIf="location.disponible" style="color:#00c500">Disponible</h5>
        <h5 *ngIf="!location.disponible" style="color:red" >Non Disponible</h5>
        <button routerLink="/chat/{{location.id}}"  >Contacter</button><br><br>
        <button [disabled]="!location.disponible" class="btn-louer" (click)="louerLocation(location.id,location.idLoueur, location.nom)">
          Louer
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
