<button type="button" class="btn btn-primary" routerLink="/locations">Retour</button>
<form [formGroup]="formulaire">
  <div class="mb-3">
    <label for="name" class="form-label">Nom :</label>
    <input type="text" id="name" class="form-control" formControlName="nom">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description :</label>
    <input type="text" id="description" class="form-control" formControlName="description">
  </div>
  <div class="mb-3">
    <label for="prix" class="form-label">Prix :</label>
    <input type="text" id="prix" class="form-control" formControlName="prix">
  </div>
  <div class="mb-3">
    <label for="photo" class="form-label">Photo :</label>
    <input type="text" id="photo" class="form-control" formControlName="photo">
  </div>
  <button type="button" class="btn btn-primary" (click)="createProduct()">Enregistrer</button>
</form>
